.webformat-formtransmitter .subtitle{
    font-size: 12px;
    font-style: italic;
}

.webformat-formtransmitter .check-results{
    display:inline-block;
}
.webformat-formtransmitter .check-results.success{
    color:green;
}
.webformat-formtransmitter .check-results.error{
    color:red;
}