<template>
    <div class="leads">
        <div class="selected" v-show="selectedWebforms.length">
            <div v-for="(selectedForm, index) in selectedWebforms">
                <div class="form-title">
                    <b class="num">{{ index + 1 }}.</b>
                    {{ selectedForm.name }} (#{{ selectedForm.id }}) <span v-show="!matches[selectedForm.id].value.length">[соответствий полей вебформа-лид пока не задано]</span>
                </div>
                <div class="matches">
                    <matches :source-specification="formSpecifications[selectedForm.id]"
                            :target-specification="leadSpecification"
                            :matches="matches[selectedForm.id]"
                    />
                </div>
            </div>
        </div>
        <div v-show="availableWebforms.length">
            Выберите вебформу: <select size="1" v-model="selectedWebformId">
                <option v-for="item in availableWebforms" :value="item.id">{{ item.name }} (#{{ item.id }})</option>
            </select>
            <button @click="addToSelected()">Подключить</button>
        </div>
        <button class="save" @click.prevent="save()">Сохранить</button>
    </div>
</template>

<script>
import { onMounted, ref, unref, computed } from "vue";
import Matches from './matches.vue'

export default {
    props: {
        // formElements: { type: Object, default: {} },
    },
    setup(props, context) {
        const baseUrl = '/bitrix/services/main/ajax.php?action=webformat:formtransmitter.';
        const allWebforms = ref([]);
        const selectedWebforms = ref([]);
        const selectedWebformId = ref(0);
        let leadSpecification = {};
        let formSpecifications = {};
        let matches = {};
        const availableWebforms = computed(() => {
            let result = [];
            for (const [i, item] of Object.entries(allWebforms.value)) {
                let isSelected = false;
                for (const [j, selected] of Object.entries(selectedWebforms.value)) {
                    if(selected.id == item.id){
                        isSelected = true;
                        break;
                    }
                }
                if(!isSelected){
                    result.push(item);
                }
            }
            return result;
        });

        function addToSelected(webformId){
            if(typeof webformId === 'undefined'){
                webformId = selectedWebformId.value;
            }
            for (const [index, item] of Object.entries(allWebforms.value)) {
                if(item.id == webformId){
                    selectedWebforms.value.push(item);
                    selectedWebformId.value = 0;
                    if(availableWebforms.value.length){
                        selectedWebformId.value = availableWebforms.value[0].id;
                    }
                    break;
                }
            }
        }

        function save(){
            let rawMatches = {};
            for (const [webformId, match] of Object.entries(matches)) {
                let flattenMatch = unref(match);
                if(flattenMatch.length){
                    rawMatches[webformId] = flattenMatch;
                }
            }
            if(!Object.entries(rawMatches).length){ return; }
            $.post(
                baseUrl + 'options.saveMatches',
                { credentials: BX24.getAuth(), matches: rawMatches },
                function(response){
                    if(response.errors.length > 0){
                        console.error('Response returned errors: ', response.errors);
                    }else if(response.status == 'success'){
                        let popup = BX.PopupWindowManager.create("popup-message", null, {
                            content: "Данные успешно сохранены!",
                            darkMode: true,
                            autoHide: true
                        });

                        popup.show();
                    }
                }, 'json'
            );
        }

        const indicators = {
            matches: false,
            allWebforms: false,
            formSpecifications: false,
            leads: false
        }
        function loaded(indicator){
            indicators[indicator] = true;
            for (const [key, loaded] of Object.entries(indicators)) {
                if(!loaded){return false;}
            }

            if(allWebforms.value.length){
                selectedWebformId.value = allWebforms.value[0].id;
            }

            for (const [webformId, webformMatches] of Object.entries(matches)) {
                if(webformMatches.value.length){
                    addToSelected(webformId);
                }
            }
        }

        onMounted(() => {
            let credentials = BX24.getAuth();
            $.post(
                baseUrl + 'webform.index',
                { credentials: credentials },
                function(response){
                    if(response.errors.length > 0){
                        console.error('Response returned errors: ', response.errors);
                    }else if(response.status == 'success'){
                        allWebforms.value.splice(0);
                        for (const [index, webform] of Object.entries(response.data)) {
                            allWebforms.value.push(webform);
                            if(!(webform.id in matches)){
                                matches[webform.id] = ref([]);
                            }
                        }
                        loaded('allWebforms');
                    }
                }, 'json'
            );
            $.post(
                baseUrl + 'webform.getSpecification',
                { credentials: credentials },
                function(response){
                    if(response.errors.length > 0){
                        console.error('Response returned errors: ', response.errors);
                    }else if(response.status == 'success'){
                        for (const [webformId, fields] of Object.entries(response.data)) {
                            formSpecifications[webformId] = fields;
                        }
                        loaded('formSpecifications');
                    }
                }, 'json'
            );
            $.post(
                baseUrl + 'options.getMatches',
                { credentials: credentials },
                function(response){
                    if(response.errors.length > 0){
                        console.error('Response returned errors: ', response.errors);
                    }else if(response.status == 'success'){
                        for (const [webformId, match] of Object.entries(response.data)) {
                            if(webformId in matches){
                                matches[webformId].value = match;
                            }else{
                                matches[webformId] = ref(match);
                            }
                        }
                        loaded('matches');
                    }
                }, 'json'
            );

            BX24.callMethod(
                'crm.lead.fields', {},
                function(response){
                    if(response.error()){
                        console.error('Error receiving lead specification: ', response.error());
                    }else{
                        for (const [code, item] of Object.entries(response.data())) {
                            if(code == 'ID'){ continue; }
                            leadSpecification[code] = {
                                title: item.title,
                                type: item.type,
                                isRequired: item.isRequired,
                                isMultiple: item.isMultiple
                            }
                        }
                        loaded('leads');
                    }
                }
            );
        });

        return {
            allWebforms,
            selectedWebforms,
            availableWebforms,
            addToSelected,
            selectedWebformId,
            leadSpecification,
            formSpecifications,
            matches,
            save
        }
    },
    components: {Matches}
}
</script>

<style>
.leads select{
    border: 1px solid rgba(83,92,105,.2);
    font: 15px/30px Helvetica Neue,Arial,Helvetica,sans-serif;
    outline: none;
    padding: 2px 10px;
    min-height: 33px;
}

.leads button{
    background-color: #12b1e3;
    border: 1px solid #12b1e3;
    border-radius: 2px;
    color: #fff;
    padding: 0 20px;
    font: 12px/31px OpenSans-Bold,Helvetica Neue,Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    transition: background-color .16s linear,color .16s linear,opacity .16s linear,border-color .16s linear;
    cursor:pointer;

    vertical-align: top;
}
.leads button:hover{
    background-color: #3eddff;
    border-color: #3eddff;
}
</style>
<style scoped>
    .selected > *{
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px dashed grey;
    }
    .matches{
        margin-left:15px;
    }

    .leads > div{
        margin-bottom:30px;
    }

    .leads button{
        margin-left: 20px;
    }

    .leads button.save{
        margin-left:0;
        font-weight:bold;
        background: #bbed21;
        border-color: #bbed21;
        color: #535c69;
    }
    .leads button.save:hover{
        background: #d2f95f;
        border-color: #d2f95f;
    }
    .leads button.save:active{
        background: #d2f95f;
        border-color: #b2e232;
    }
</style>
