<template>
    <table class="matches" v-show="matches.length">
        <thead>
            <tr>
                <th>Данные вебформы</th>
                <th>&nbsp;</th>
                <th>Поля лида</th>
            </tr>
        </thead>
        <tr v-for="(match, index) in matches">
            <td>
                <textarea v-if="'extended' in match && match.extended"
                    @contextmenu.prevent="addContextMenu($event)"
                    v-model="match.source"
                ></textarea>
                <select v-else size="1" v-model="match.source">
                    <option value="">--не выбрано--</option>
                    <option v-for="(item, code) in sourceSpecification" :value="'{{ fields.' + code + ' }}'">{{ item.title }} [{{ code }}]</option>
                </select>
                <br />
                <input type="checkbox" :id="'match-' + index + '-' + uid" v-model="match.extended"/>
                <label :for="'match-' + index + '-' + uid"> Расширенный режим</label>
            </td>
            <td class="arrow"><b>&#8658;</b></td>
            <td>
                <select size="1" v-model="match.target">
                    <option value="">--не выбрано--</option>
                    <option v-for="(item, code) in targetSpecification" :value="code">{{ item.title }} [{{ code }}]</option>
                </select>
            </td>
        </tr>
    </table>
    <button @click="matches.push({target:'', source: ''})" class="add-match">Добавить соответствие</button>
</template>

<script>
import { computed, isRef, getCurrentInstance, inject } from "vue";

export default {
    props: {
        sourceSpecification: {type: Object, default: {}},
        targetSpecification: {type: Object, default: {}},
        matches: {type: Object, default: []}, // ref(array)
    },
    setup(props, context) {
        const app = getCurrentInstance();
        const uid = app.uid;
        let contextMenuTarget;

        let menuSkeleton = {
            fields: {
                label: 'Значения полей',
                children: convertSpecToMenu(props.sourceSpecification)
            },
            form: {
                label: 'Вебформа',
                children: {
                    'form.id': { label: 'ID' },
                    'form.name': { label: 'Название' }
                }
            }
        };
        if(!isRef(props.matches)){
            console.error('[matches] "Matches" property should be a `ref`!');
        }

        function convertSpecToMenu(fieldSpecification){
            let result = {};
            Object.keys(fieldSpecification).forEach(code => {
                result['fields.' + code] = {
                    label: fieldSpecification[code].title,
                }
            });
            return result;
        }

        function buildMenuStructure(skeleton, parent){
            if(typeof parent === 'undefined'){ parent = {}; }
            let result = [];
            Object.keys(skeleton).forEach(code => {
                let base = skeleton[code];
                let item = (() => ({...base, ...{
                    code, parent,
                    onClick: insertMacros
                }}))();
                if('children' in base){
                    item.children = buildMenuStructure(base.children, item);
                }
                result.push(item);
            });

            return result;
        }
        let menuStructure = buildMenuStructure(menuSkeleton);

        function addContextMenu(e){
            contextMenuTarget = e.target;
            app.appContext.app.config.globalProperties.$contextmenu({
                x: e.x,
                y: e.y,
                items: menuStructure
            });
        }

        function insertMacros(){
            paste(contextMenuTarget, '{{ ' + this.code + ' }}');
        }

        function paste(myField, myValue) {
            //IE support
            if (document.selection) {
                myField.focus();
                sel = document.selection.createRange();
                sel.text = myValue;
            }
            // Microsoft Edge
            else if(window.navigator.userAgent.indexOf("Edge") > -1) {
            var startPos = myField.selectionStart; 
            var endPos = myField.selectionEnd; 

            myField.value = myField.value.substring(0, startPos)+ myValue 
                    + myField.value.substring(endPos, myField.value.length); 

            var pos = startPos + myValue.length;
            myField.focus();
            myField.setSelectionRange(pos, pos);
            }
            //MOZILLA and others
            else if (myField.selectionStart || myField.selectionStart == '0') {
                var startPos = myField.selectionStart;
                var endPos = myField.selectionEnd;
                myField.value = myField.value.substring(0, startPos)
                    + myValue
                    + myField.value.substring(endPos, myField.value.length);
            } else {
                myField.value += myValue;
            }
            triggerEvent(myField,'input');
        }

        function triggerEvent(el, type){
            if ('createEvent' in document) {
                // modern browsers, IE9+
                var e = document.createEvent('HTMLEvents');
                e.initEvent(type, false, true);
                el.dispatchEvent(e);
            } else {
                // IE 8
                var e = document.createEventObject();
                e.eventType = type;
                el.fireEvent('on'+e.eventType, e);
            }
        }


        return {
            uid,
            matches: props.matches,
            targetSpecification: props.targetSpecification,
            sourceSpecification: props.sourceSpecification,
            addContextMenu
        }
    }
}
</script>
<style scoped>
    .matches {
        border-spacing: 0;
        border-collapse: collapse;
    }
    .matches th {
        background: #e6e6e6;
        padding: 5px;
    }
    .matches td{
        vertical-align: top;
        padding-bottom:15px;
    }
    .arrow{
        font-size: 27px;
        transform: scaleX(2);
        padding: 0 20px;
    }
    .arrow b{
        position:relative;
        top:2px;
    }
    .matches textarea{
        vertical-align: middle;
        min-height: 40px;
        min-width:300px;
    }

    .add-match{
        margin-top: 20px;
    }

    select{
        max-width:300px;
    }
</style>