<template>
    <ul class="tab-header">
        <!--
        <router-link to="/general" custom v-slot="{ href, route, navigate, isActive, isExactActive }">
            <li :class="[isActive && 'active', isExactActive && 'exact']">
                <a :href="href" @click="navigate">Общие</a>
            </li>
        </router-link>
        -->
        <router-link to="/leads" custom v-slot="{ href, route, navigate, isActive, isExactActive }">
            <li :class="[isActive && 'active', isExactActive && 'exact']">
                <a :href="href" @click="navigate">Лиды</a>
            </li>
        </router-link>
    </ul>
    <div>
        <router-view></router-view>
    </div>
</template>

<script>
export default {
    setup(props, context) {


        /* onMounted(() => {
            doRequest(filter);
        }); */

        return {
        }
    }
}
</script>

<style>
    body{
        margin:0 15px;
        padding:0;
    }
</style>

<style scoped>
    .tab-header, .tab-header li{
        margin:0;
        padding:0;
        list-style: none;
    }
    .tab-header{
        display:flex;
        flex-direction:row;
        justify-content: flex-start;
        margin-bottom:10px;
    }
    .tab-header li{
        margin: 0 10px;
    }
    .tab-header li:first-child{
        margin-left:0;
    }
    .tab-header a{
        color:rgb(82, 92, 104);
        font: 600 14px/25px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight:bold;
        text-decoration:none;
    }
    .tab-header li.active a{
        color:rgb(16, 88, 208);
        border-bottom:2px solid rgb(16, 88, 208);
    }
</style>
